.no-result{
    text-align: center;
}

.tc-white{
    color: white;
}

.tc-black{
    color: black;
}

.dc-green{
    background-color: green;
}

.dc-red{
    background-color: red;
}

.dc-blue{
    background-color: blue;
}

.dc-sky{
    background-color: deepskyblue;
}
