﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form>


    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Ttitle</h5>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Tags</h5>
                    <input class="form-control" type="text">
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Descritpion</h5>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Code</h5>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <button class="btn">Add/Save</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <button class="btn">Cancel</button>
                </div>
            </div>
        </div>


    </div>



</form>